<p>CEN Portal 알림(출고요청서 등록)</p>

<p>
    <div>[요약 정보]</div>
    <div>- 작성자 : {{ writer }}</div>
    <div>- 담당영업 : {{ salesPerson }}</div>
    <div>- 프로젝트명 : {{ projectName }}</div>
    <div>- 거래처 : {{ partner }}</div>
    <div>- 구분 : {{ classification }}</div>
    <div>- 출고형태 : {{ deliveryType }}</div>
    <div>- 출고방법 : {{ deliveryMethod }}</div>
    <div>- <a href="{{ url }}">출고요청서로 이동</a></div>
</p>
